# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
env/

# Environment variables
.env

# Django media files
media/

# Images folder
images/

# Database
db.sqlite3

# Logs
*.log

# VS Code
.vscode/

# PyCharm
.idea/

# Static files collected
staticfiles/

# OS files
.DS_Store
Thumbs.db