{% extends 'user/user_index.html' %}

{% block content %}

<div class="container mt-5">

    <h2 class="text-center mb-4">Available Beauty Services</h2>

    <div class="row">

        {% for service in services %}

        <div class="col-md-4 mb-4">

            <div class="card shadow">

                <!-- Service Image -->
                <img src="{{ service.image.url }}"
                     class="card-img-top"
                     style="height:250px;">


                <div class="card-body">

                    <!-- Service Name -->
                    <h4>{{ service.name }}</h4>


                    <!-- Description -->
                    <p>{{ service.description }}</p>


                    <!-- Price -->
                    <p>
                        <b>Price:</b> ₹ {{ service.price }}
                    </p>


                    <!-- Duration -->
                    <p>
                        <b>Duration:</b> {{ service.duration }} Minutes
                    </p>


                    <!-- Book Button -->
                    <a href="{% url 'book_service' service.id %}"
                       class="btn btn-primary w-100">

                        Book Now

                    </a>


                </div>

            </div>

        </div>

        {% empty %}

        <h4 class="text-center text-danger">

            No Services Available

        </h4>

        {% endfor %}

    </div>

</div>
<br>
{% endblock %}